<%- include('_header.ejs') %>
<style>
    .default{
        font-family:'Times New Roman', Times, serif;
       
    }
    h1{
        font-size: 60px;
    }
    .box{
        background-color: peachpuff;
        padding: 5px; /* Padding inside the boxes */
        margin-bottom: 15px; /* Space between boxes */
    }
    .bubble{
        outline: 2px black none;
    }
    .shortbox{
        background-color: #fadec5; /* Light background for the boxes */
        border: 1px solid #ddd; /* Light border */
        border-radius: 5px; /* Rounded corners */
        padding: 5px; /* Padding inside the boxes */
        margin-bottom: 15px; /* Space between boxes */
        height: 40%; /* Make boxes stretch vertically */
    }
    .longbox{
        background-color: #fadec5; /* Light background for the boxes */
        border: 1px solid #ddd; /* Light border */
        border-radius: 5px; /* Rounded corners */
        padding: 5px; /* Padding inside the boxes */
        margin-bottom: 15px; /* Space between boxes */
        height: 100%; /* Make boxes stretch vertically */
    }
    h5{
        text-align: center;
    }
    a{
        color:black;
    }
</style>

<div class = "container default mx-auto p-2">

    <h1>Hello, Your Name!</h1>
</div>
<br>
<div class="container bubble">
    <div class = "row">
        <div class = "col"><h3>For You:</h3></div>
        <div class = "col"><h3>My Balance:</h3></div>
    </div>
    <div class="row">
        
        <div class="col-6"> <!-- Each box will take half of the screen -->
            
            <div class="box">
                <h4>Box 1</h4>
                <p>This is the content of box 1. It can contain any text you like.</p>
            </div>
           
            
        </div>
        
        <div class="col"> <!-- Right half of the screen -->
           
            <div class="shortbox">
                
                <h5>119 Swipes</h5>

            </div>
            <a href = "/balance">See More</a>
        </div>
        <div class="col">
            <div class=" shortbox">
                <h5>218 Points</h5>
                
            </div>
            
        </div>
        
    </div>
    <div class = "row">
        <div class = "col-6">
            <div class="box">
                <h4>Box 2</h4>
                <p>This is the content of box 2. It can also contain any text you like.</p>
            </div>
            
            <div class="box">
                <h4>Box 3</h4>
                <p>This is the content of box 3. You can add more information here.</p>
            </div>
        </div>
        <div class = "col">
            <div class = "longbox">
                <h5>What's Cookin</h5>
                <ul>
                    <% openDiningHalls.forEach(item => { %>
                        <li><%= item %></li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
</div>



<%- include('_footer.ejs') %>