<%- include('_header.ejs') %>

<h1>Scrape</h1>
<h2>Open Dining Halls</h2>
<!--ul>
    <!% openDiningHalls.forEach(item => { %>
        <li><!%= item %></li>
    <!% }); %>
</ul-->

<%- include('_footer.ejs') %>